<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<h1> Learn Python Resources </h1>

       
<div class="show">


<div class="nameshow">
  <b>Name:</b>
  <%= link_to @python.title, @python.url %>
</p>
</div>

<div class="typeshow">
<p>
  <b>Type:</b>
  <%= @python.tag %>
</p>
</div>
<div class="description">
  <p>
    <b>Description:</b>
    <%= @python.description %>
  </p>
</div>

</div>

<div class="destroyandedit">
<%= link_to 'Destroy', @python, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
   <%= link_to 'Edit', edit_python_path %>

</div>




