<h1>Editing Product</h1>

<%= simple_form_for @resource do |form| %>
  	<%= form.input :title, label: "Resource Title:" %>
  	<%= form.input :url, label: "Link to Resource:" %>
 	 <%= form.input :description, label: "Brief Description About The Resource:" %>
  
  	<%= form.button :submit %>
<% end %>
