<%= render "nav" %>
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">



<h1>Want to learn <%= @language %> </h1> <h1> Here are a few community submitted resources to do just that!</h1>


<hr>


  
    <% @resources.each do |resource| %>
       <div class="index">
         <div class="imageindex">
           <%= image_tag resource.image.thumb.url.to_s %>
         </div>

          <div class="vote">
             <%= link_to like_resource_path(resource), method: :put do %>
             <i class="em em---1"></i>
             <%= resource.get_upvotes.size %>
             Upvote
        <% end %>
       </div>

         <h2><%= link_to resource.title, resource %> <%= resource.tag %> <%= resource.language %></h2>
         <div class="shortdescription">
           <%= resource.shortdescription %>
        </div>
    <hr>
   <% end %>

   </div>


  

