
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">



<h1>Want to learn Ruby on Rails? <br> Here are a few community submitted resources to do just that!</h1>


   <div class="signupandin">
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Add a resource", new_resource_path %>
   </div>


   <hr>


    <% @resources.each do |resource| %>
   <div class="index">
       <h2><%= link_to resource.title, resource %> <%= resource.tag %></h2>
         <hr>
         <%= link_to like_resource_path(resource), method: :put do %>
           Upvote
         <%= resource.get_upvotes.size %>
<% end %>

<%= link_to dislike_resource_path(resource), method: :put do %>
  Downvote
  <%= resource.get_downvotes.size %>
<% end %>
   <% end %>

   </div>


	


<p><%= paginate @resources %></p>