<%= render "nav" %>
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">



<h1>Want to learn ?</h1> <h1> Here are a few community submitted resources to do just that!</h1>


<hr>

      <% Resource.order(:cached_votes_up).reverse.each do |resource| %>
       <div class="index">
         <div class="imageindex">
           <%= image_tag resource.image.thumb.url.to_s %>
         </div>

          <div class="vote">
             <%= link_to like_resource_path(resource), method: :put do %>
             <i class="em em---1"></i>
             <%= resource.get_upvotes.size %>
             Upvote
        <% end %>
       </div>

         <h2><%= link_to resource.title, resource %>  
         <div class="tagandlang"> <%= resource.tag %> | <%= resource.language %> </h> </h2> </div>
         <div class="shortdescription">
           <%= resource.shortdescription %>
        </div>
    <hr>
   <% end %>

   </div>

   <p class="pagination"><%= paginate @resources %></p>



   <style>

  div.tagandlang {
    color: #FF8B8B;;
    padding-top: 10px;
  }

  div.vote {
    padding-top: 10px;
  }

div.shortdescription {
     font-family: 'Roboto Condensed', sans-serif;  
     padding-top: 5px;
}

p.pagination {
  text-align: center;
  padding: 10px;
}

</style>

  

