
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">

<p> Want to learn programming but don't know where to start or where to learn it from? </p> 
<p> LearnxLanguage are community submitted lists of places to learn - </p>

<h1><%= link_to "Ruby/Ruby on Rails", resources_path %></h1>
<h1><%= link_to "Javascript", "resources?language=javascript" %></h1>
<h1><%= link_to "Python", "resources?language=python" %></h1>
<h1><%= link_to "Swift", "resources?language=swift" %></h1>
<h1><%= link_to "HTML/CSS", "resources?language=html" %></h1>


<h2> Made by Faateh Mohamamd </h2>


<style>

  p {
  color: #FF8B8B;
  font-family: 'Roboto Condensed', sans-serif;  
  text-align: center;
  padding: 7px;
  font-size: 37px;
  font-weight: bold;

 }

 h1 {
 	color: #32B67A;
 	font-size: 40px;
    font-weight: bold;
    text-align: center;
     text-decoration:none;


 }

 h2 {
 	color: #A6CFE2;
 	text-align: center;
 	font-weight: bold;
 	font-size: 20px;
 	padding-top: 15px;
 }




</style>