
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">

<p> Want to learn programming but don't know where to start or where to learn it from? </p> 
<p> LearnxLanguage are community submitted lists of places to learn - </p>

<h1><%= link_to "Ruby/Ruby on Rails", "resources?language=Rails" %></h1>
<h1><%= link_to "Javascript", "resources?language=Javascript" %></h1>
<h1><%= link_to "Python", "resources?language=Python" %></h1>
<h1><%= link_to "Swift", "resources?language=Swift" %></h1>
<h1><%= link_to "HTML/CSS", "resources?language=Html" %></h1>


<h2><%= link_to "Made by Faateh Mohammad", "https://faatehim.github.io/" %></h2>


<style>

  p {
  color: #FF8B8B;
  font-family: 'Roboto Condensed', sans-serif;  
  text-align: center;
  padding: 7px;
  font-size: 37px;
  font-weight: bold;
  padding-top: 20px;

 }

 h1 {
 	color: #32B67A;
 	font-size: 40px;
    font-weight: bold;
    text-align: center;
     text-decoration:none;


 }

 h2 {
 	color: #32B67A !important;
 	text-align: center;
 	font-weight: bold;
 	font-size: 20px;
 	padding-top: 15px;
 }




</style>