<%= simple_form_for @resource do |form| %>
 <div class="form">
  <%= form.input :title, label: "Resource Title:" %>
  <%= form.input :url, label: "Link to Resource:" %>
  <%= form.input :description, label: "Brief Description About The Resource:" %>
  
  <%= form.button :submit %>
  </div>
  </p>
<% end %>