<%= simple_form_for @resource, url: new_resource_path do |form| %>
 <div class="form">
  <%= form.input :title, label: "Resource Title:" %>
  <%= form.input :url, label: "Link to Resource:" %>
  <%= form.input :description, label: "Brief Description About The Resource:" %>
  <%= form.input :image, as: :file %>

  <%= form.button :submit %>
  </div>
  
<% end %>