  <%= render "nav" %>
<head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100306031-1', 'auto');
  ga('send', 'pageview');

</script>



</head>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="imageshow">
  <%= image_tag @resource.image.thumb.url.to_s %>
</div>
<div class="voteshow">
     <%= link_to like_resource_path(@resource), method: :put do %>
      <i class="em em---1"></i>
     <%= @resource.get_upvotes.size %>
     Upvote
    <% end %>
       

</div>



<div class="show">


<div class="nameshow">
  <b>Name:</b>
  <%= link_to @resource.title, @resource.url %>
</p>
</div>

<div class="typeshow">
<p>  <b> Language: </b> <%= @resource.language %> </p>
</div>


<div class="typeshow">
<p>
  <b>Type:</b>
  <%= @resource.tag %>
</p>
</div>
<div class="description">
  <p>
    <b>Description: <br><br> </b>
    <%= @resource.description %>
  </p>
</div>

</div>


<div class="destroyandedit">
   <% if @resource.user == current_user %>
    <%= link_to 'Destroy', @resource, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
   <%= link_to 'Edit', edit_resource_path %>
  <% end %>
</div>



<%= render 'disqus' %>


