<%= image_tag @resource.image.url(:medium) %>

<p>
  <b>Name:</b>
  <%= link_to @resource.title, @resource.url %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>



<% if post.user == current_user %>
  <%= link_to 'Destroy', @resource, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  <%= link_to 'Edit', edit_resource_path %>
<% end %>



<%= render 'disqus' %>


