  <%= render "nav" %>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<h1> Learn Rails Resources </h1>


<div class="imageshow">
  <%= image_tag @resource.image.thumb.url.to_s %>
</div>
<div class="voteshow">
     <%= link_to like_resource_path(@resource), method: :put do %>
      <i class="em em---1"></i>
     <%= @resource.get_upvotes.size %>
     Upvote
    <% end %>
       

</div>



<div class="show">


<div class="nameshow">
  <b>Name:</b>
  <%= link_to @resource.title, @resource.url %>
</p>
</div>

<div class="typeshow">
<p>  <b> Language: </b> <%= @resource.language %> </p>
</div>


<div class="typeshow">
<p>
  <b>Type:</b>
  <%= @resource.tag %>
</p>
</div>
<div class="description">
  <p>
    <b>Description:</b>
    <%= @resource.description %>
  </p>
</div>

</div>


<div class="destroyandedit">
   <% if @resource.user == current_user %>
    <%= link_to 'Destroy', @resource, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
   <%= link_to 'Edit', edit_resource_path %>
  <% end %>
</div>



<%= render 'disqus' %>


