<div class="signupandin">
   <%= link_to "Home", resources_path %>
   <%= link_to "Sign Up", new_user_registration_path %>
   <%= link_to "Sign In", new_user_session_path %>
   <%= link_to "Add a resource", new_resource_path %>

</div>

<%= image_tag @resource.image_url.to_s if @resource.image_url.present? %>



<div class="show">

 <%= link_to like_resource_path(@resource), method: :put do %>
           Upvote
         <%= @resource.get_upvotes.size %>
<% end %>

<%= link_to dislike_resource_path(@resource), method: :put do %>
  Downvote
  <%= @resource.get_downvotes.size %>
<% end %>

<p>
  <b>Name:</b>
  <%= link_to @resource.title, @resource.url %>
</p>

<p>
  <b>Type:</b>
  <%= @resource.tag %>
</p>
<div class="description">
  <p>
    <b>Description:</b>
    <%= @resource.description %>
  </p>
</div>

</div>



<% if @resource.user == current_user %>
  <%= link_to 'Destroy', @resource, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  <%= link_to 'Edit', edit_resource_path %>
<% end %>



<%= render 'disqus' %>


